* {
    box-sizing: border-box;
}
body {
    background-color: #333333;
}
h1 {
    text-align: center;
    color: #FFFFFF;     
}
.screen {
    background-color: white;
    width: 100%;
    height: 150px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
#container {
    width: 320px;
    height: 500px;
    margin: auto;
    background-color: black;
    border: 10px solid black;
    border-radius: 8px;
}
.inline-block {
    display: flex;
    justify-content: space-evenly;
}
.head {
    margin-top: 10px;
}
.bHead {
    width: 90%;
    border: 5px solid black;
}
.button {
    min-width: 65px;
    height: 50px;
    margin-bottom: 14px;
    font-weight: bold;
    font-size: 17px;
    border-radius: 10px;
}
.button:hover {
    cursor: pointer;
    background-color: #eeffa1;
    opacity: 0.95;
}
.screen {
    text-align: right;
}